# Datasets
data/
datasets/
*.zip

# Trained models
*.pth
*.pt
*.ckpt
*.onnx

# Logs and outputs
outputs/
logs/
runs/
checkpoints/
*.log

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/